<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Details de la facture</title>
</head>
<body>
<h1>Ajout de la facture</h1>
<form th:action="@{/invoice/create}" method="post" th:object="${invoiceForm}">
    <label>
        Cusomer name :
        <input type="text" th:field="*{customerName}">
        <span style="color:red" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></span>
    </label>
    <br>
    <label>
        Order number :
        <input type="text"  th:field="*{orderNumber}">
        <span style="color:red" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></span>
    </label>
    <br>
    <label>
        Street name :
        <input type="text" th:field="*{streetName}">
        <span style="color:red" th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}"></span>
    </label>
    <br>
    <label>
        Street number :
        <input type="text" th:field="*{streetNumber}">
        <span style="color:red" th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}"></span>
    </label>
    <br>
    <label>
        Zip code :
        <input type="text" th:field="*{zipCode}">
        <span style="color:red" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></span>
    </label>
    <br>
    <label>
        City:
        <input type="text" th:field="*{city}">
        <span style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
    </label>
    <br>
    <label>
        Country:
        <input type="text" th:field="*{country}">
        <span style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
    </label>
    <br>
    <input type="submit" value="OK">
</form>
</body>
</html>
