<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Details de la facture</title>
</head>
<body>
<h1>Ajout de la facture</h1>
<form th:action="@{/invoice/create}" method="post" th:object="${invoiceForm}">
    <label>
        Cusomer name :
        <input type="text" th:field="*{customerName}">
        <span style="color:red" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></span>
    </label>
    <br>
    <label>
        Order number :
        <input type="text"  th:field="*{orderNumber}">
        <span style="color:red" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></span>
    </label>
    <br>
    <input type="submit" value="OK">
</form>
</body>
</html>
